body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #0033a0;
  color: white;
  padding: 20px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}
